*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  line-height: 1.5;
  font-family: sans-serif;
}

main {
  max-width: 48em;
  margin-right: auto;
  margin-left: auto;
}

/**/
